<footer class="footer-copyright black py-3 text-center text-white">
  © 2018 Copyright:
  <a class="text-white" href="https://iamjigz.github.io/"> Jigno Alfred V. Venezuela </a>
  <div class="pb-4">
    <a aria-label="facebook" href="https://www.facebook.com/jigzimon" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>
    <a aria-label="instagram" href="https://www.instagram.com/jigzimon/" target="_blank">
      <i class="fab fa-instagram mr-3"></i>
    </a>
    <a aria-label="linkedin" href="https://www.linkedin.com/in/jigzimon/" target="_blank">
      <i class="fab fa-linkedin mr-3"></i>
    </a>
    <a aria-label="github" href="https://github.com/iamjigz" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>
    <a aria-label="website" href="https://iamjigz.github.io" target="_blank">
      <i class="fas fa-globe mr-3"></i>
    </a>
    <a aria-label="email" href="mailto:jigzimon@gmail.com" target="_blank">
      <i class="fas fa-envelope mr-3"></i>
    </a>
  </div>
</footer>