<section class="my-5">
  <h1
    class="section-heading text-center mb-5 mt-5 pt-4 wow fadeIn font-bold amber-text my-5"
  >
    Contact Me
  </h1>

  <p class="text-center w-responsive mx-auto mb-5">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
    numquam iure provident voluptate esse quasi, veritatis totam voluptas
    nostrum quisquam eum porro a pariatur veniam.
  </p>
  <div class="container row">
    <div class="col-md-9 mb-md-0 mb-5">
      <form
        id="contactForm"
        name="contactForm"
        action="/done/"
        method="POST"
        data-netlify="true"
        netlify-honeypot="bot-field"
      >
        <input
          type="hidden"
          class="invisible"
          name="contactForm"
          value="contact"
        />
        <p class="hidden" class="invisible">
          <label
            >Don’t fill this out if you're human: <input name="bot-field"
          /></label>
        </p>
        <div class="row">
          <div class="col-md-6">
            <div class="md-form mb-0">
              <input
                mdbInputDirective
                [mdbValidate]="false"
                type="text"
                name="name"
                id="name"
                class="form-control"
              />
              <label for="name" class="">Your name</label>
            </div>
          </div>

          <div class="col-md-6">
            <div class="md-form mb-0">
              <input
                mdbInputDirective
                [mdbValidate]="false"
                type="text"
                name="email"
                id="email"
                class="form-control"
              />
              <label for="email" class="">Your email</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="md-form mb-0">
              <input
                mdbInputDirective
                [mdbValidate]="false"
                type="text"
                name="subject"
                id="subject"
                class="form-control"
              />
              <label for="subject" class="">Subject</label>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="md-form">
              <textarea
                mdbInputDirective
                [mdbValidate]="false"
                type="text"
                name="message"
                id="message"
                class="form-control md-textarea"
                rows="3"
              ></textarea>
              <label for="message">Your message</label>
            </div>
          </div>
        </div>
      </form>

      <div data-netlify-recaptcha></div>

      <div class="text-center text-md-left">
        <button
          id="submitForm"
          (click)="submitForm()"
          type="submit"
          class="btn btn-amber waves-light"
          mdbWavesEffect
        >
          Send <i class="fas fa-paper-plane ml-2"></i>
        </button>
      </div>
    </div>

    <div class="col-md-3 text-center">
      <ul class="list-unstyled mb-0">
        <li>
          <i class="fa fa-map-marker fa-2x amber-text"></i>
          <p>{{ globals.address }}</p>
        </li>
        <li>
          <i class="fa fa-phone fa-2x mt-4 amber-text"></i>
          <p>{{ globals.mobile }}</p>
        </li>
        <li>
          <i class="fa fa-envelope fa-2x mt-4 amber-text"></i>
          <p class="mb-0">{{ globals.email }}</p>
        </li>
      </ul>
    </div>
  </div>
</section>
