<header>
  <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar intro-fixed-nav" [containerInside]="false">
    <logo>
      <a class="logo navbar-brand" routerLink="/">
        <strong>Behance Gallery</strong>
      </a>
    </logo>
    <links>
      <ul class="navbar-nav mr-auto smooth-scroll">
        <li class="nav-item" mdbRippleRadius>
          <a class="nav-link waves-effect waves-light" href="#main">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item waves-effect waves-light" mdbRippleRadius>
          <a class="nav-link" href="#about" data-offset="90">About</a>
        </li>
        <li class="nav-item waves-effect waves-light" mdbRippleRadius>
          <a class="nav-link" href="#services" data-offset="90">Services</a>
        </li>
        <li class="nav-item waves-effect waves-light" mdbRippleRadius routerLinkActive="active">
          <a class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius routerLinkActive="active">
          <a class="nav-link" href="#contact" data-offset="90">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" [href]="globals.facebook" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" [href]="globals.instagram" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item waves-light" mdbRippleRadius>
          <a class="nav-link" [href]="globals.linkedin" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </links>
  </mdb-navbar>
</header>