<div class="view intro" style="background-image: url(https://source.unsplash.com/n6jNHTg2C2w); background-attachment: fixed; height: 900px;">
  <div class="full-bg-img mask rgba-black-light">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center" style="height: 900px">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="container intro-info-content text-center" *ngIf="user">
              <div *ngIf="user.images" class="avatar mx-auto">
                <img [src]="user.images['276']" class="img-fluid rounded-circle z-depth-3 mx-auto d-block animated flipInX" data-wow-delay="0.6s"
                  alt="avatar">
              </div>
              <h1 class="display-1 wow white-text fadeInDown" data-wow-delay="0.3s">
                {{ user.first_name }}
                <a class="amber-text font-bold">{{ user.last_name }} </a>
              </h1>
              <h3 class="display-5 wow amber-text rubberBand" data-wow-delay="1s" data-wow-duration="3s">
                {{ user.occupation | uppercase }}
              </h3>
              <h5 [innerHtml]="user.fields.join(' | ')" class="text-center font-up mb-3 mt-1 font-bold wow white-text fadeIn"></h5>
              <a class="btn btn-elegant btn-lg wow fadeInUpBig waves-effect waves-light" mdbWavesEffect data-wow-delay="0.4s" routerLink="/projects">Portfolio</a>
              <a class="btn btn-outline-amber btn-lg wow fadeInUpBig waves-effect waves-light" mdbWavesEffect data-wow-delay="0.4s" (click)="core.navigate(user.url)">
                View Behance
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>