<section class="section feature-box">
  <h1 class="section-heading text-center mb-5 mt-5 pt-4 wow fadeIn font-bold amber-text my-5">What I do?</h1>

  <p class="text-center w-responsive mx-auto wow fadeIn my-5" data-wow-delay="0.2s">Lorem ipsum dolor sit amet, consectetur
    adipisicing elit. Amet maiores aspernatur aut animi debitis. Ad excepturi dolor tempora at aperiam earum veritatis ullam.
    Culpa tempora possimus necessitatibus excepturi, quisquam officia.</p>

  <!-- First row -->
  <div class="row features-big text-center wow fadeIn" data-wow-delay="0.4s">

    <!--First column-->
    <div class="col-md-4 mb-5">
      <i class="fa fa-image amber-text fa-3x mb-4"></i>
      <h4 class="font-weight-bold mb-4">Portraits</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
        hic.</p>
    </div>
    <!--/First column-->

    <!--Second column-->
    <div class="col-md-4 mb-5">
      <i class="fas fa-users amber-text fa-3x mb-4"></i>
      <h4 class="font-weight-bold mb-4">Group photos</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
        hic.</p>
    </div>
    <!--/Second column-->

    <!--Third column-->
    <div class="col-md-4 mb-5">
      <i class="fa fa-shopping-bag amber-text fa-3x mb-4"></i>
      <h4 class="font-weight-bold mb-4">Products photos</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti
        hic.</p>
    </div>
    <!--/Third column-->

  </div>
  <!-- /.First row -->
</section>